<%= link_to 'Add new movie', new_movie_path %>

<% @movies.each do |movie| %>
	<div><%= link_to movie.title, movie_path(movie.id) %></br>
	<img src="<%= movie.gif %>" /></br>
	<%= movie.description %></br>
</div>
<% end %>